.todo{
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form{
    margin: 0 auto;
    width: 500px;
    margin-top: 30px;
}
.name{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    width: 100%;
    padding: 10px 30px;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgb(66, 66, 66);
    align-items: center;
}
.controls{
    cursor: pointer;
    display: flex;
    width: 50px;
    justify-content: space-between;
}
.name--logout{
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
.name--label{
    margin-right: 30px;
    padding: 5px;
    border-radius: 20px;
    background-color: #fff;
    color: rgb(66, 66, 66);
}
.stat{
    display: flex;
    align-items: center;
    justify-content: center;

}
.none{
    display: none;
}
.login{
    margin: 0 auto;
    width: 50%;
    margin-top: 20vh;
}